.form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    padding: 20px;
}

.FancyBorder {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

.FancyBorder-blue {
    border-color: blue;
}

/**
 * Product table
 */
.product-table {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 250px;
    height: 300px;
}

.search-bar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}

.search-bar > label:first-child {
    margin-bottom: 5px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: left;
    width: 50%;
    padding: 2px;
}

.table tr:nth-child(2n) {
    background-color: lightgray;
}

.table tr.not-stocked {
    color: red;
}

.category-name {
    font-weight: bold;
}